# PyCharm
# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 虚拟环境
venv/
.venv/
ENV/
env/

# 日志文件
*.log

# PyTorch权重、numpy数组文件
*.pth
*.pt
*.npz
*.npy

# 测试缓存
.pytest_cache/
.mypy_cache/

# IDE配置
.idea/
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 密钥环境变量
.env


# MATLAB
*.asv
*.m~
*.slx.auto_save
*.mlx~
*.fig
*.mat
*.slxc
*.sldo
*.prj.user
cache/
codegen/
slprj/
simulink_project/

# Visual Studio 2022
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
Debug/
Release/
x64/
x86/
*.pdb
*.exe
*.ilk

# 通用大文件/临时文件
*.gz
*.zip
*.rar
*.7z
*.tmp
*.bak
.DS_Store
Thumbs.db
yes
yes.pub
Pycharm_WorkSpace/Mnist_nub_ocr/data/
